<h3>
基础概念 <small>（代码对应目录为：app/base-concept）</small>
</h3>

<br><hr>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a [routerLink] = "['define']">什么是组件</a></li>
      <li role="presentation"><a [routerLink] = "['define-module']">模块的概念</a></li>
      <li role="presentation"><a [routerLink] = "['web-component']">Web Component 标准</a></li>
      <li role="presentation"><a [routerLink] = "['create-comp']">创建组件步骤</a></li>
    </ul>
  </div>
  <div class="col-sm-7 col-md-7 col-lg-7" style="background-color: aquamarine; min-height: 400px;">
    <router-outlet></router-outlet>
  </div>
</div>
