textarea {
  width: 500px;
  height: 330px;

}

.chat-wrap {
  position: fixed;
  right:20px;
  bottom:20px;
  background: #dddddd;
  padding: 7px 7px 0px;
  border-radius: 5px;
}

.pull-right {
  cursor: pointer;
}
