<h3>
  模板表达式 <small>（代码对应目录为：app/template-expression）</small>
</h3>

<br><hr>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a [routerLink] = "['userage1']">插值表达式</a></li>
      <li role="presentation"><a [routerLink] = "['userage2']">模板表达式定义</a></li>
      <li role="presentation"><a [routerLink] = "['userage3']">模板表达式上下文</a></li>
      <li role="presentation"><a [routerLink] = "['userage4']">模板表达式规范</a></li>
    </ul>
  </div>
  <div class="col-sm-7 col-md-7 col-lg-7" style="background-color: aquamarine; min-height: 400px;padding: 15px;">
    <router-outlet></router-outlet>
  </div>
</div>
