<h3>
  重定向路由 <small>（对应代码中的 app/redirect 目录）</small>
</h3>

<hr>
<b>一、什么是重定向路由？</b><br>
<img src="../../assets/images/路由表.png" alt="路由表" height="300">
<br><br>
<p>
  1. 当我们在地址栏输入 <b>"localhost:4200/home"</b> 时，此时得到的 <b>path</b> 为 <b>"home"</b>，可以在上图中的路由表中找到对应的组件 <b>HomeComponent</b>，并显示该组件的内容，也就是我们看到的 <b>首页内容</b>。<br>
  2. 但是当我们输入 <b>"localhost:4200"</b> 时，此时得到的 <b>path</b> 为 <b>""</b>，此时并没有对应的组件用来显示，我们的愿景是输入 <b>"localhost:4200"</b> 时，实际上让它显示到首页内容。<br>
  3. <b>{{ "{ path: '', redirectTo: '/home', pathMatch: 'full' }" }}</b> 就是做这么一件事，而这么一件事的专业术语就叫做 <b>重定向</b>。
</p>
<hr>

<b>二、使用方法：</b> <small>{{ "{ path: '', redirectTo: '/home', pathMatch: 'full' }" }}</small>
<p>
  1、属性 path = "" （空字符串） 表示 url = "localhost:4200" 时的情形。path = "home" 表示 url = "localhost:4200/home" 的情形，依次类推。<br>
  1、路由配置项中使用 <b>redirectTo</b> 指向需要重定向的地址。当 path = ""（空字符串）时跳转到访问 {{ "{ path: 'home', component: 'HomeComponent' }" }}。<br>
  2、设置 <b>pathMatch</b> 可能的值为 full 或者 prefix。大多数情况下设置为 full 即可。
</p>


